.sky{
    background-color: rgb(20, 171, 231);
}
.black{
    background-color: black;
}
.snow{
    background-color: rgb(134, 134, 134);
}
.carrot{
    background-color: orange;
}
.red{
    background-color: red;
}
.green{
background-color: green;}